.first{
    background-color: purple;
    width: 400px;
    height: 400px;

}

.second{
    background-color: peru;
    width: 400px;
    height: 200px;
}

.third{
    background-color: palegreen;
    width: 200px;
    height: 200px;

}

/* .fourth{
    background-color: white;
    width: 100px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: royalblue;
}
.fiveth{
    background-color: white;
    width: 100px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: r;
} */