body{
    margin: 0px;
    padding: 0px;
    background-color: #0088CC;
}

.wrapper{
    width: 960px;

    border: solid 1px black;
    
    margin: 0 auto;
}

.header-image{
    width: 100%;
    height: 400px;
   
    background-image: url(../img/morioh.jpg);
    background-size: 100%;

    position: relative;

    border-bottom: solid 2px black;
}

.center-content{
    display: flex;
    flex-direction: column;
    width: 520px;

    border-left: solid 2px black;
    border-right: solid 2px black;
}

.content{
    display: flex;
    border-bottom: solid 2px black;
}

.header-text{
    text-align: right;
    
    position:absolute;
    left:300px;
    top:50px;

    background-color: darkviolet;
    color:white;
    font-size: 80px;
}

.menu{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px black;
}
.left-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.right-footer{
    width: 236px;
    text-align: right;
}
.left-footer{
    width: 724px;
    border-right: solid 2px black;
    font-weight: 700
}
.footer{
    display: flex;  
}