body{
    margin: 0px;
    padding: 0px;


    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
div{
    margin-bottom: 10px;
}
input{
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}
button{
    font-size: 20px;
    width: 100%;
}
.center-text{
    text-align: center;
}
.summa{
    text-align: center;
    color: black;
}
.procent{
    text-align: center;
    color: black;
}
.head-text{
    text-align: center;
    font-size: xx-large;
}
.head-photo{
    position: relative;
    margin-left: 560px;
}