body{
    margin: 0px;
    padding: 0px;


    background-color: lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
div{
    margin-bottom: 10px;
}
input{
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}
button{
    font-size: 20px;
    width: 100%;
}
.center-text{
    text-align: center;
}
.height{
    text-align: center;
    color: purple;
}
.weight{
    text-align: center;
    color: purple;
}