h1{
    color: orange ; 
}
.info{
    background-color: yellow; 
    padding-right: 35px; 
}
.memes{
    background-color: orange;
}
body{
    background-image: url(images/logo.jpg); /* Путь к фоновому изображению */
}
.list{
    background-color: orange
}
.Facebook{
    color: red
}
.merch{
    background-color: orange
}

.block1 { 
    width: 200px; 
    background: orange;
    padding: 5px;
    padding-right: 100px; 
    border: solid 1px black; 
    margin-bottom: 100;
   }
.block2 { 
    width: 200px; 
    background: orange;
    padding: 5px;
    padding-right: 100px; 
    border: solid 1px black; 
    margin-top: 100;
   }
.block3 { 
    width: 200px; 
    background: orange;
    padding: 5px;
    padding-right: 100px; 
    border: solid 1px black; 
   }
.block4 { 
    width: 200px; 
    background: orange;
    padding: 5px;
    padding-right: 100px; 
    border: solid 1px black; 

   }

